.slider_pics {
  height: 480px;
  width: 400px;
  background-color: var(--yellow);
  border-radius: 20px;
}

.slider_pics_container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 20px;
}

.slider_text {
  text-align: center;
}
