@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Poppins:wght@400;600&display=swap");

:root {
  --blue: #3f497f;
  --white: #fdfbf0;
  --green: #539165;
  --yellow: #f7c04a;
  --black: #333;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
  color: var(--black);
}
